/* Fonts (Mulish) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* Normalize */

body {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #06061b;
}

*::selection {
  background-color: #06061b;
  color: #ffffff;
}

.header {
  width: 100vw;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  margin-bottom: 1.5rem;
}

.header::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(145deg, #F1F1F1 8%, #090909);
}

.header .nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06061b6e;
  transition: 1000ms ease-in-out all;
}

.header .nav h1 {
  font-size: 2rem;
  color: #eeeeee;
  text-align: center;
}

.grid--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 1.33rem;
  width: 90%;
  margin: auto;
}

.grid--container .grid--item {
    cursor: pointer;
    border-radius: 16px;
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: 500ms all ease-in-out;
}

.grid--container .grid--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: 500ms transform ease-in-out;
  }

.grid--item:nth-child(2) {
    grid-column-start: span 2;
}

.grid--item:nth-child(5) {
    grid-row-start: span 2;
}

.grid--item:nth-child(6) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.grid--item:nth-child(7) {
    grid-row-start: span 2;
}

.grid--item:nth-child(9) {
    grid-row-start: span 2;
}

.grid--item:nth-child(10) {
    grid-row-start: span 2;
}

.grid--item:nth-child(12) {
    grid-column-start: span 2;
    grid-row-start: span 1;
}

.grid--item:nth-child(13) {
    grid-column-start: span 3;
    grid-row-start: span 2;
}

.grid--item:nth-child(14) {
    grid-column-start: span 3;
    grid-row-start: span 2;
}

/* Hover */

.grid--item img:hover {
    transform: scale(1.015);
}

/* Effects */

.effect {
    background-color: #06061bd2;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.loading {
  transform: translateY(0) !important;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 10 !important;
  position: static !important;
  transition: 500ms all ease-in-out !important;
}