.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;

  .left {
    
    h1 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 10px;
      color: var(--dark);
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      grid-gap: 16px;

      li {
        color: var(--dark);

        a {
          color: var(--dark-grey);
          pointer-events: none;
        }

        a.active {
          color: var(--primary);
          pointer-events: none;
        }
      }
    }
  }

  .report {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background-color: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
  }
}