.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--light);
  width: 230px;
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all 300ms ease;
  &::-webkit-scrollbar {
    display: none;
  }
  .logo {
    font-size: 20px;
    font-weight: 600;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    box-sizing: content-box;
    padding-right: 10px;

    span {
      color: var(--dark);
    }

    .icon {
      min-width: 60px;
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
    }
  }

  .side {
    width: 100%;
    margin-top: 48px;

    li {
      height: 48px;
      background: transparent;
      margin-left: 6px;
      border-radius: 48px 0 0 48px;
      padding: 4px;

      a {
        width: 100%;
        height: 100%;
        background: var(--light);
        display: flex;
        align-items: center;
        border-radius: 48px;
        font-size: 16px;
        color: var(--dark);
        white-space: nowrap;
        overflow-x: hidden;
        transition: all 300ms ease;

        svg {
          min-width: calc(60px - ((4px + 6px) * 2));
          display: flex;
          font-size: 1.6rem;
          justify-content: center;
        }

      }
    }

    li.active {
      background-color: var(--grey);
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: -40px;
        right: 0;
        box-shadow: 20px 20px 0 var(--grey);
        z-index: -1;
      }

      &::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        bottom: -40px;
        right: 0;
        box-shadow: 20px -20px 0 var(--grey);
        z-index: -1;
      }

      a {
        color: var(--success);
      }
    }
  }
  .logout {
    color: var(--danger);
  }
}

.close {
  width: 60px;
  
  .side li a {
    width: calc(48px - (4px * 2));
    transition: 300ms ease all;
  }
}