.content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: 300ms all ease;

  @media only screen and (max-width: 768px) {
    width: calc(100% - 60px);
    left: 60px;
  }
}