/* Import Fonts (Kanit) */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* Normalize */

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    border: none;
    outline: none;
    appearance: 0;
    font-family: "Kanit", sans-serif;
}

body {
    background-color: hsla(229, 100%, 5%, 1);
    width: 100vw;
    height: 100vh;
}

.weather-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}


.weather {
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 480px;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, rgb(80, 20, 180), rgb(140, 40, 210)) 1;
    background-color: #f7f7f7;
    padding: 1rem 0;

}

.weather-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 275px;
    width: 100%;
}

.weather-head input {
    padding: 0.4rem 0.5rem;
    color: #cecece;
    width: 60%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
}

.weather-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather button {
    padding: 0.4rem 0.75rem;
    border-radius: 5px;
    background-color: rgba(0, 150, 220, 1);
    color: #f9f9f9;
    font-size: 14.78px;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s transform ease;
    transform-style: preserve-3d;
}

#weather-image {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

h3 {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    height: 28px;
}

p {
    font-size: 18.78px;
    font-weight: 400;
    height: 18.78px;
    color: #000;
}





