/*Fonts (Roboto)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}



/* Root */

:root {

    /*Colors*/
 --Dark-Slate-Grey: hsl(234, 29%, 20%);
 --Charcoal-Grey: hsl(235, 18%, 26%);
 --Grey: hsl(231, 7%, 60%);
 --White: hsl(0, 0%, 100%);
 --Tomato: hsl(4, 100%, 67%);
}


body {
    font-family: "Roboto", sans-serif;
    background-color: var(--Dark-Slate-Grey);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}



.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.grid--container {
    width: 70%;
    height: 85%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--White);
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 1);
    transition: .5s all ease;
}

.form--container {
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    margin: auto;
}


.title {
    margin:1em 0;
    display: flex;
    flex-direction: column;
    gap: .5em;
}


.flex {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.flex--item {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: .5em;
    align-items: center;
    text-align: center;
}

.img--success {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: url(./newsletter/assets/images/icon-success.svg)no-repeat center/cover;
}

.flex--item p {
    font-size: 16px;
}



.form--input {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.form--input label {
    font-size: 16px;
    font-weight: 700;
}

.message--form--wrong {
    display: flex;
    width: 100%;
    position: relative;
}
.message--form--wrong label {
    flex-basis: 50%;
}

.message--form--wrong div span {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    flex-basis: 50%;
    color: var(--Tomato);
}

.form--input input {
    padding: .55rem .88rem;
    border-radius: 10px;
}

.button{
    background-color: var(--Charcoal-Grey);
    color: var(--White);
    font-size: 16px;
    font-weight: 700;
    padding: .55rem .88rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s;
}



.img--form {
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: 100%;
    background: url(./newsletter/assets/images/illustration-sign-up-desktop.svg)no-repeat center/cover;
}





/*Hover*/

button:hover {
    background-color: var(--Tomato);
    transition: .5s;
    box-shadow: 0 3px 10px var(--Tomato);
}

button:active {
    background-color: var(--Tomato);
    transition: .5s;
}


/* Success Windows */

.success--window {
    width: 30%;
    height: 60%;
    border-radius: 16px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 1);
    opacity: 0;
    position: absolute;
    z-index: -1;
    visibility: hidden;
    transition: .5s all ease;
}

.container--success {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img--success--window {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: url(./newsletter/assets/images/icon-success.svg)no-repeat center/cover;
}

.message--container--success {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: auto;
    text-align: left;
}

.message--container--success h1 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.message--container--success p {
    font-size: 14px;
}


.message--container--success button {
    width: 100%;
}



@media screen and (max-width:1280px) {
    .form--container {
        width: 96%;
        height: 90%;
    }

    .success--window {
        height: 80%;
    }

    .success--window h1 {
        font-size: 1.8rem;
        letter-spacing: 0;
    }
}



@media screen and (max-width:1024px){


    .grid--container {
        width: 80%;
        height: 85%;
        grid-template-columns: 60% 40%;
    }

    .form--container {
        width: 100%;
        height: 100%;
    }

    .flex--item {
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
    }

    .img--form {
        width: 96%;
        height: 96%;
    }
    .img {
        margin: auto;
    }
}






@media screen and (max-width:768px) {

    .grid--container {
        grid-template-columns: none;
        grid-template-rows:70% 30%;
        transform: rotate(180deg);
        height: 100%;
        width: 375px;
        border-radius: 0;
        margin: auto;
    }

    .img--form {
        width: 100%;
        height: 100%;
    }

    .img {
        background: url(./newsletter/assets/images/illustration-sign-up-mobile.svg)no-repeat center/cover;
        transform: rotate(180deg);
        border-radius: 0 0 10px 10px;
    }

    .form--container {
        transform: rotate(180deg);
        height: 100%;
        width: 100%;
        align-items: center;
        margin: auto;
        margin-left: -1rem;
    }

    .title {
        margin: .3em 0;
    }


    .flex {
        margin: .3em 0;
    }

    .flex--item p {
        font-size: 14px;
    }

    .form--input {
        margin: .3em 0;
    }

    .form--input input, .form--input button {
        width: 90%;
    }


    .success--window {
        width: 375px;
        height: 100%;
        border-radius: 0;
    }

    .message--container--success {
        width: 90%;
    }




    .container--success button {
        position: absolute;
        bottom: 1rem;
        width: 90%;
        margin: auto    ;
        left: 0;
        right: 0;
    }

}



/*ADD Styles */



.show {
    opacity: 1;
    position: relative;
    z-index: 0;
    visibility: visible;
    transition: .5s all ease;
}

.hide {
    opacity: 0;
    position: absolute;
    z-index: -1;
    visibility: hidden;
    transition: .5s all ease;
}